@import "../../node_modules/bootstrap/scss/functions";
@import "../sass-bootstrap/custom";
@import "../../node_modules/bootstrap/scss/mixins";

@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
  @include media-breakpoint-down(xs) {
  	padding-top: $top/2;
    padding-right: $right/2;
    padding-bottom: $bottom/2;
    padding-left: $left/2;
  }
}

body{
	font-family: 'Noto Sans', sans-serif;
}

.header-v1{
	background-color: $gray-300;
	.header-top{
		@include padding(1rem, 0, 1rem, 0);
	}
	.header-main{
	}
}
.navbar-v1{
	@include media-breakpoint-up(lg) {
		padding: 0;
	}
	> .container{
		position: relative;
	}
	.navbar-nav{
		.nav-item{
			.nav-link{
				@include media-breakpoint-up(lg) {
					padding: 0.8rem;
				}
			}
		}
	}




	.hs-sub-menu, 
	.hs-mega-menu{
		margin: 0;
	}
	.hs-has-sub-menu > a::after,
	.hs-has-sub-menu .hs-has-sub-menu > a::after,
	.hs-has-mega-menu > a::after{
		font-family: 'Fontawesome' !important;
		font-size: 10px;
		content: '';
		display: inline-block;
		vertical-align: middle;
		margin-left: 7px;
	}
	.hs-has-sub-menu .hs-has-sub-menu > a::after{
		right: 0.5rem;
	}
	.hs-has-sub-menu > a::after{
		content: '\f078';
	}
	.hs-has-sub-menu .hs-has-sub-menu > a::after{
		content: '\f054';
	}
	.hs-has-mega-menu > a::after{
		content: '\f078';
	}
}

