@import "../../node_modules/bootstrap/scss/functions";
@import "../sass-bootstrap/custom";
@import "../../node_modules/bootstrap/scss/mixins";

@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
  @include media-breakpoint-down(xs) {
  	padding-top: $top/2;
    padding-right: $right/2;
    padding-bottom: $bottom/2;
    padding-left: $left/2;
  }
}

@mixin paddingTb($top, $bottom){
	padding-top: $top;
	padding-bottom: $bottom;
	@include media-breakpoint-down(lg) {
		padding-top: $top/3;
		padding-bottom: $bottom/3;
	}
	@include media-breakpoint-down(md) {
		padding-top: $top/4;
		padding-bottom: $bottom/4;
	}
	@include media-breakpoint-down(sm) {
		padding-top: $top/5;
		padding-bottom: $bottom/5;
	}
	@include media-breakpoint-down(xs) {
		padding-top: $top/6;
		padding-bottom: $bottom/6;
	}
}



body{
	font-family: 'Noto Sans', sans-serif;
}

.section{
	@include paddingTb(3rem, 3rem);
}

.header-v1{
	background-color: $gray-300;
	.header-top{
		@include padding(1rem, 0, 1rem, 0);
	}
	.header-main{
	}
}
.navbar-v1{
	@include media-breakpoint-up(lg) {
		padding: 0;
	}
	> .container{
		position: relative;
	}
	.navbar-nav{
		.nav-item{
			.nav-link{
				@include media-breakpoint-up(lg) {
					padding: 0.8rem;
				}
				@include media-breakpoint-down(md) {
					padding-left: 0.5rem;
					padding-right: 0.5rem;
				}
			}
		}
	}



	// Mega Menu Custom CSS
	.hs-sub-menu, 
	.hs-mega-menu{
		margin: 0;
	}
	.hs-sub-menu,
	.hs-mega-menu{
		background-color: $gray-300;
		@include media-breakpoint-up(lg) {
			&::before{
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				width: 100%;
				height: 3px;
				background-color: $gray-500;
			}
		}
		@include media-breakpoint-down(md) {
			border-top: solid 3px $gray-500;
		}
	}
	.hs-mega-menu{
		left: 15px !important;
		right: 15px !important;
		padding: 15px;
	}


	.hs-has-sub-menu > a::after,
	.hs-has-sub-menu .hs-has-sub-menu > a::after,
	.hs-has-mega-menu > a::after{
		font-family: 'Fontawesome' !important;
		font-size: 10px;
		content: '';
		display: inline-block;
		vertical-align: middle;
		margin-left: 7px;
	}
	.hs-has-sub-menu .hs-has-sub-menu > a::after{
		right: 0.5rem;
	}
	.hs-has-sub-menu > a::after{
		content: '\f078';
	}
	.hs-has-sub-menu .hs-has-sub-menu > a::after{
		content: '\f054';
	}
	.hs-has-mega-menu > a::after{
		content: '\f078';
	}
}

